*{
    margin: 0;
    padding: 0;
    font-family: 'Bodoni Moda', serif;
}

#banner{
    background: linear-gradient(rgba(239, 204, 255),#efccff);
    background-size: cover;
    background-position: center;
    height: 100vh;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


}
.banner-text h1{
    font-size: 100px;
    font-family: 'Lora', serif;
    font-size: 100px
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


